<header class="container-fluid bg">

		<!-- CABECERA -->
		<div class="row cabecera">

			<!-- PERFIL=FOTO+NOMBRE -->
			<div class="col-1">
			</div>

			<div class="col-5">
				<div class="row perfil">
					<div class="col-4">
						<img class="fotoPerfil" src="images/perfil.jpg" alt="">
					</div>
					<div class="col-8 usuario">
						<div class="row nombre">
							<h2>Juan Garcia Perez</h2>
							<p>@juanitoGP</p><br>
						</div>
					</div>
				</div>
			</div>
			
			<!-- BUSQUEDA Y FOLLOWS -->
			<div class="col-5">
				<div class="row form-group busca">
					<input type="text" class="form-control busqueda" id="buscador" placeholder="Buscar">
				</div>

			  	<div class="row botones">
			  		<button type="button" class="btn btn-outline-success estilo-boton">Seguidores</button>
			  		<button type="button" class="btn btn-outline-success estilo-boton">Seguidos</button>
			  	</div>
			</div>

			<div class="col-1"></div>
	</header>