<header class="container-fluid bg">

		<!-- CABECERA -->
		<div class="row cabecera">

			<!-- PERFIL=FOTO+NOMBRE -->
			<div class="col-1 ajustes">
				<a href="" data-toggle="modal" data-target="#profileModal">
					<img src="images/ajustes.png" alt="" class="icono-ajustes" data-toggle="tooltip" title="Ajustes">
				</a>
			</div>

			<div class="col-5">
				<div class="row perfil">
					<div class="col-4">
						<img class="fotoPerfil" src="images/perfilPorDefecto.jpg" alt="">
					</div>
					<div class="col-8 usuario">
						<div class="row nombre">
							<h2 id="nameProfile"></h2>
						</div>
						<a href="" data-toggle="modal" data-target="#uploadModal">
							<img src="images/camara.png" alt="" class="icono-subir" data-toggle="tooltip" title="Publicar imagen">
						</a>
					</div>
				</div>
			</div>

			<!-- BUSQUEDA Y FOLLOWS -->
			<div class="col-5">
				<div class="row busca full-width">
					<input type="text" class="form-control busqueda" id="buscador" placeholder="Buscar...">
					
				</div>

			  	<div class="row usuario-buscado full-width" id="resultado-busqueda" hidden>
			  		<!-- <div class="row caja-busquedas" id="caja-busquedas-oculta" hidden>
				  		<div class="foto-usuario-buscado"><img src="" alt=""></div>
				  		<div class="nombre-usuario-buscado"></div>
			  		</div>  -->
			  	</div>
			</div>

			<div class="col-1">
				<button id="logout" data-toggle="tooltip" title="Cerrar sesión"><i class="fa fa-power-off" aria-hidden="true"></i></button>
			</div>
	</header>


			<!--MODALES -->


			<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Publica tus fotos en el mapa</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body modal-subir">
				    		<label class="custom-file">
				    		  <div class="form-group">
							    <input type="text" class="form-control" id="nombreFoto" placeholder="Ej: Londres">
							    <label for="formGroupExampleInput">Lugar de la foto</label>
							  </div>
							  <div class="row">
							  <img src="images/camara.png" alt="" class="icono-camara-modal">
							  <input type="file" id="file" class="custom-file-input" hidden>
							  <div class="row eligeFoto">
							  <p> Elige tu foto</p> 
							   </div>
							  <button class="btn btn-primary" id="subirFoto">Subir</button>
							  </div>
							</label>
				      </div>
			    </div>
			  </div>
			</div>


			<div class="modal fade" id="profileModal" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Cambia tu imagen de perfil</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body modal-profile">
				    		<label class="custom-file">
							  <input type="file" id="profileFile" class="custom-file-input">
							  <img src="images/ajustes.png" alt="" class="icono-ajustes-modal">
							  <button class="btn btn-primary" id="saveProfile">Guardar cambios</button>
							</label>
				      </div>
			    </div>
			  </div>
			</div>