<!-- MODAL -->
		<div class="modal fade" id="myModal">
		    <div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <h4 class="modal-title">Mis fotos</h4>
				        <i class="fa fa-trash fa-2x papelera" id="trash"></i>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
		      		</div>

		      		<div class="modal-body">
						<img class="imgGrande" src="" alt="">
		      		</div>
	    		</div>
			</div>
    	</div>