{% extends "base.html" %}
	{% block content %}
	<div class="container main-size">

	<!-- SLIDER -->
		{% block slider %}
			{% include "includes/slider.html" %}
		{% endblock %}


		<!-- CUADRO DE REGISTRO -->
		<div class="container login-class">
			<input class="form-control cuadroTexto reg-nombre" id="email" placeholder="E-mail">
			<input class="form-control cuadroTexto" id="user" placeholder="Usuario">
			<input class="form-control cuadroTexto reg-contraseña" id="password" placeholder="Contraseña">
			<button type="button" class="btn btn-outline-success style-boton registro" id="registrar">Regístrate</button>
		</div>

	</div>
	{% endblock %}		

	{% block customjs %}
	<script src="/js/login.js" ></script>
	{% endblock %}
